@font-face {
  font-family: "Akira Expanded";
  src: url("../../assets/akiraexpanded.ttf");
}
.wrapper-a {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 4rem 2rem 2rem 2rem;
  /* background-color: #101A33; */
  background-image: url("../../assets/athlete/athletebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* @media(max-width: 1600px){
      margin: 0 25px;
  } */
}
.wrapper-a .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-a .background h1 {
  color: #ffffff;
  text-align: center;
  z-index: 100;
  font-size: 7.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.1;
  font-family: "Akira Expanded";
  line-height: 12rem;
}
.wrapper-a .background .andy-basket {
  position: absolute;
  width: 35vh;
  left: 45%;
  bottom: 0;
  z-index: 200;
}
.wrapper-a .columns-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .wrapper-a .columns-a {
    flex-wrap: wrap;
  }
}
.wrapper-a .columns-a .column1 {
  z-index: 400;
  max-height: 100vh;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wrapper-a .columns-a .column1 div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-bottom: 15px;
}
.wrapper-a .columns-a .column1 div h3 {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  margin-left: 25px;
  text-align: left;
  font-size: 1.5rem;
}
.wrapper-a .columns-a .column1 div div {
  display: flex;
  flex-direction: column;
}
.wrapper-a .columns-a .column2 {
  z-index: 400;
  display: flex;
  max-height: 100vh;
  min-height: 85vh;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 971px) {
  .wrapper-a .columns-a .column2 {
    padding-top: 15px;
    justify-content: flex-start;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    gap: 15px;
  }
}
.wrapper-a .columns-a .column2 .basket-pos {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.wrapper-a .columns-a .column2 .basket-pos h4 {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #ffffff;
  margin: 5px auto 5px auto;
}
.wrapper-a .columns-a .column2 .basket-pos p {
  box-sizing: border-box;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
  margin: 5px auto 5px auto;
}
.wrapper-a .columns-a .column2 .basket-pos hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: 0px auto 0px auto;
}
.wrapper-a .columns-a .column2 .football-pos {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.wrapper-a .columns-a .column2 .football-pos h4 {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #ffffff;
  margin: 5px auto 5px auto;
}
.wrapper-a .columns-a .column2 .football-pos p {
  box-sizing: border-box;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
  margin: 5px auto 5px auto;
}
.wrapper-a .columns-a .column2 .football-pos hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: 0px auto 0px auto;
}/*# sourceMappingURL=athlete.css.map */