@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.upper-container {
    margin-top: 0px;
    top: 0%;
    padding-top: 0px;
}

.item {
    text-align: center;
    color: red;
}

.bg {
    background: rgba(0, 0, 0, 0.2) url("../assets/home/bg.jpg");
    background-position: 90% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-style: normal;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.2px;
    padding-bottom: 20px;
}

.btn {
    margin: 0;
    height: 48px;
    width: 160px;
    background-color: #3b98cd;
    border: none;
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    background-color: #238ecd;
    cursor: pointer;
}
.btn:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
}