@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

*::-webkit-scrollbar {
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: inset 0 0 14px 14px transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: inset 0 0 14px 14px #bbbbbe;
}
*::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: inset 0 0 14px 14px #d9d9dd;
}

*::-webkit-scrollbar {
    width: 16px;
}

.container-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container {
    flex-basis: 75vh;
    display: grid;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    grid-template-columns: repeat(auto-fill, minmax(max(250px, 25vw), 1fr));
    /* grid-template-rows: 75% 25%; */
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(max(250px, 50vw), 1fr));
        flex-basis: content;
    }

    .section {
        height: 100vh; /*Siempre 100vh al wrappear*/
    }
}

.section {
    /* max-height: 75vh;
    width: 25vw; */
    position: relative;
    max-height: 100vh;
    cursor: pointer;
    overflow: hidden;
    /* background-color: red; */
}
.section img, .extra img {
    width: 100%;
    height: 100%;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);
    object-fit: cover;
}
.section:hover img, .extra:hover img {
    filter: brightness(120%);
    transform: scale(1.3);
}

.extra {
    flex-basis: 25vh;
    /* width: 100vw;
    height: 25vh; */
    cursor: pointer;
    overflow: hidden;
    /* background-color: blue; */
}

.txtbox {
    width: 100%;
    height: 60px;
    margin-top: 8vh;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stxtbox {
    background-color: rgb(0, 85, 229, 0.75);
}
#atxtbox {
    background-color: rgb(165, 170, 182, 0.75);
}
#dtxtbox {
    background-color: rgb(133, 108, 88, 0.75);
}
#mtxtbox {
    background-color: rgb(14, 18, 12, 0.75);
}

.stxt{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}